body {
    background-color: #202020;
    padding: 0px;
    margin: 0px;
    height: 100%;
    /*padding:20px;*/
}

body * {
    font-size: 16px;
    font-family: menlo, monospace, consolas;

}

.InputPanel {
    position: absolute;
    bottom: 40px;
    top: 20px;
    right: 20px;
    left: 20px;
    /*width: 100%;*/
    box-sizing: border-box;
    /*padding: 20px;*/
    /*height: 100%;*/
}

.ChatArea {
    width: 100%;
    height: 100%;
    background-color: #202040;
    border: 1px solid #D0D0D0;
    display: block;
    color:aliceblue;
    box-sizing: border-box;
}