body {
    background-color: #202020;
    padding: 0px;
    margin: 0px;
}

body * {
    font-size: 16px;
    font-family: menlo, monospace, consolas;
}

.InputPanel {
    position: absolute;
    bottom: 0px;
    top: 0px;
    width: 100%;
    box-sizing: border-box;
    padding: 20px;
}